<div id="gf-controls-container">
  <form class="gf-controls-search-form">
    <input
      value="{{terms | escape}}"
      onkeyup="this.setAttribute('value', this.value); searchProducts(this.value);"
      name="q"
      placeholder="{{translation.product.search | default: "Search products"}}"
      aria-label="{{translation.product.search | default: "Search products"}}"
      autocomplete="off"
      class="gf-controls-search-input"
    >
    <button onclick="clearSearchProducts()" type="button" class="gf-controls-clear-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M11.414 10l6.293-6.293a1 1 0 10-1.414-1.414L10 8.586 3.707 2.293a1 1 0 00-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 101.414 1.414L10 11.414l6.293 6.293A.998.998 0 0018 17a.999.999 0 00-.293-.707L11.414 10z" fill="#5C5F62"/>
      </svg>
    </button>
    <button type="button" class="gf-controls-search-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M2 8c0-3.309 2.691-6 6-6s6 2.691 6 6-2.691 6-6 6-6-2.691-6-6zm17.707 10.293l-5.395-5.396A7.946 7.946 0 0016 8c0-4.411-3.589-8-8-8S0 3.589 0 8s3.589 8 8 8a7.954 7.954 0 004.897-1.688l5.396 5.395A.998.998 0 0020 19a1 1 0 00-.293-.707z" fill="#3d4246"/>
      </svg>
    </button>
  </form>

  <div class="gf-actions">
    <div class="gf-filter-trigger">
      <div class="gf-refine-toggle-mobile" tabindex="0">
        <span onclick="globofilter.toggleCanvas()"
          ><i class="fa fa-tasks" aria-hidden="true"></i> {{ translation.filter.filter_by | default: 'Filter by' -}}
        </span>
      </div>
    </div>

    <span class="gf-summary">
      {% assign plurality = translation.search.products | default: 'Products' %}
      {% assign singular = translation.search.product | default: 'Product' %}
      <b>{{ pagination.total }}</b> {{ pagination.total | pluralize: singular, plurality }}
    </span>

    <div class="gf-filter-selection">
      <div class="sort-by limit-by hidden-xs">
        <label for="setLimit">{{ translation.product.limit | default: 'Show' }}</label>
        <select id="setLimit" class="sortby-select" onchange="setLimit(this.value); return false;">
          <option
            {% if limit == 12 %}
              selected
            {% endif %}
            value="12"
          >
            12
          </option>
          <option
            {% if limit == 24 %}
              selected
            {% endif %}
            value="24"
          >
            24
          </option>
          <option
            {% if limit == 48 %}
              selected
            {% endif %}
            value="48"
          >
            48
          </option>
        </select>
      </div>

      {% assign relevance = '' %}

      {% if terms %}{% assign relevance = 'relevance,' %}{% endif %}

      {% assign allSorts = 'stock-descending,best-selling,title-ascending,title-descending,price-ascending,price-descending,created-descending,created-ascending,sale-descending' %}
      {% assign allSorts = allSorts
        | prepend: relevance
        | append: ','
        | append: sort_by
        | append: ',title-ascending'
        | replace: 'featured', 'manual'
        | split: ','
        | uniq
      %}

      {%- capture selectedSortText -%}
        {%- if sort_by =='best-selling' -%}
          {{-translation.sort.best_selling | default: "Best Selling"-}}
        {%- elsif sort_by == 'manual' or sort_by == 'featured' -%}
          {{-translation.sort.manually | default: "Featured"-}}
        {%- elsif sort_by == 'relevance' -%}
          {{-translation.sort.relevance | default: "Relevance"-}}
        {%- elsif sort_by == 'stock-descending' -%}
          {{-translation.sort.availability_in_stock_first | default: "Availability"-}}
        {%- elsif sort_by == 'title-ascending' -%}
          {{-translation.sort.alphabetically_a_z | default: "Alphabetically, A-Z"-}}
        {%- elsif sort_by == 'title-descending' -%}
          {{-translation.sort.alphabetically_z_a | default: "Alphabetically, Z-A"-}}
        {%- elsif sort_by == 'price-ascending' -%}
          {{-translation.sort.price_low_to_high | default: "Price, low to high"-}}
        {%- elsif sort_by == 'price-descending' -%}
          {{-translation.sort.price_high_to_low | default: "Price, high to low"-}}
        {%- elsif sort_by == 'created-descending' -%}
          {{-translation.sort.date_new_to_old | default: "Date, new to old"-}}
        {%- elsif sort_by == 'created-ascending' -%}
          {{-translation.sort.date_old_to_new | default: "Date, old to new"-}}
        {%- elsif sort_by == 'sale-descending' -%}
          {{-translation.sort.sale_off | default: "% Sale off"-}}
        {%- elsif sort_by == 'sale-ascending' -%}
          {{-translation.sort.sale_off | default: "% Sale off"-}}
        {%- elsif translation.sort[sort_by] -%}
          {{-translation.sort[sort_by]-}}
        {%- else -%}
          {{- sort_by | remove_first: "mf-custom-" | replace: "-", " " | capitalize -}}
        {%- endif -%}
      {%- endcapture -%}
      {% if allSorts.size > 1 %}
        <div class="sort-by">
          <label
            for="globo-dropdown-sort_options"
            class="sort-by-toggle"
            role="button"
            tabindex="0"
            aria-expanded="false"
            ><span>{{ selectedSortText }}</span></label
          >
          <div id="globo-dropdown-sort_options" class="globo-dropdown-custom__options">
            {% for sort in allSorts %}
              {% case sort %}
                {% when 'best-selling' %}
                  <span data-sort="best-selling" onclick="changeSortBy('best-selling');">
                    {{- translation.sort.best_selling | default: 'Best Selling' -}}
                  </span>
                {% when 'featured' %}
                  <span data-sort="manual" onclick="changeSortBy('manual');">
                    {{- translation.sort.manually | default: 'Featured' -}}
                  </span>
                {% when 'manual' %}
                  <span data-sort="manual" onclick="changeSortBy('manual');">
                    {{- translation.sort.manually | default: 'Featured' -}}
                  </span>
                {% when 'stock-descending' %}
                  <span data-sort="stock-descending" onclick="changeSortBy('stock-descending');">
                    {{- translation.sort.availability_in_stock_first | default: 'Availability' -}}
                  </span>
                {% when 'relevance' %}
                  <span data-sort="relevance" onclick="changeSortBy('relevance');">
                    {{- translation.sort.relevance | default: 'Relevance' -}}
                  </span>
                {% when 'title-ascending' %}
                  <span data-sort="title-ascending" onclick="changeSortBy('title-ascending');">
                    {{- translation.sort.alphabetically_a_z | default: 'Alphabetically, A-Z' -}}
                  </span>
                {% when 'title-descending' %}
                  <span data-sort="title-descending" onclick="changeSortBy('title-descending');">
                    {{- translation.sort.alphabetically_z_a | default: 'Alphabetically, Z-A' -}}
                  </span>
                {% when 'price-ascending' %}
                  <span data-sort="price-ascending" onclick="changeSortBy('price-ascending');">
                    {{- translation.sort.price_low_to_high | default: 'Price, low to high' -}}
                  </span>
                {% when 'price-descending' %}
                  <span data-sort="price-descending" onclick="changeSortBy('price-descending');">
                    {{- translation.sort.price_high_to_low | default: 'Price, high to low' -}}
                  </span>
                {% when 'created-descending' %}
                  <span data-sort="created-descending" onclick="changeSortBy('created-descending');">
                    {{- translation.sort.date_new_to_old | default: 'Date, new to old' -}}
                  </span>
                {% when 'created-ascending' %}
                  <span data-sort="created-ascending" onclick="changeSortBy('created-ascending');">
                    {{- translation.sort.date_old_to_new | default: 'Date, old to new' -}}
                  </span>
                {% when 'sale-descending' %}
                  <span data-sort="sale-descending" onclick="changeSortBy('sale-descending');">
                    {{- translation.sort.sale_off | default: '% Sale off' -}}
                  </span>
                {% when 'sale-ascending' %}
                  <span data-sort="sale-ascending" onclick="changeSortBy('sale-ascending');">
                    {{- translation.sort.sale_off | default: '% Sale off' -}}
                  </span>
                {% else %}
                  <span data-sort="{{sort}}" onclick="changeSortBy('{{sort}}');">
                    {%- if translation.sort[sort] -%}
                      {{- translation.sort[sort] -}}
                    {%- else -%}
                      {{- sort | remove_first: 'mf-custom-' | replace: '-', ' ' | capitalize -}}
                    {%- endif -%}
                  </span>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="globo-selected-items-wrapper visible-xs">
      {% if selectedItems %}
        <ul class="globo-selected-items">
          {% assign numberSelectedFilters = 0 %}
          {% capture selectedItemHtml %}
        {% for selectedItem in selectedItems %}
          {% assign filterLabel = selectedItem.label | escape %}
          {% if translation.labels and translation.labels[selectedItem.id] %}
          {% assign filterLabel = translation.labels[selectedItem.id] | escape %}
          {% endif %}
          {% if selectedItem.style == 'Slider' %}
            {% assign numberSelectedFilters = numberSelectedFilters | plus: 1 %}
            <li class="selected-item gf-option-label">
              <a onclick="removeFilter({{selectedItem.id}})">
                <span class="selected-item">
                  <span class="hidden-xs">{{filterLabel}}</span>
                  <strong>
                    {% if selectedItem.attribute == 'Price' %}
                      <span class="money">{{selectedItem.values.min | money}}</span> - <span class="money">{{selectedItem.values.max | money}}</span>
                    {% elsif selectedItem.attribute == 'Percent Sale' %}
                      {{selectedItem.values.min}}% - {{selectedItem.values.max}}%
                    {% else %}
                      {{selectedItem.values.min}} - {{selectedItem.values.max}}
                    {% endif %}
                  </strong>
                </span>
                <span class="gf-clear"></span>
              </a>
            </li>
          {% else %}
            {% for value in selectedItem.values %}
              {% assign numberSelectedFilters = numberSelectedFilters | plus: 1 %}
              {% assign value_label = value.label | escape %}
              <li class="selected-item gf-option-label">
                <a onclick="removeFilterValue({{selectedItem.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')">
                  <span class="selected-item"> 
                    <span class="hidden-xs">{{filterLabel}}</span>
                    <strong>
                      {% if style == 'Rating' %}
                        <span class="gf-label gf-stars">
                          {% for star in (1..5) %}
                            {% if star <= value.value %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.2 18a.8.8 0 01-.792-.914l.743-5.203-2.917-2.917a.8.8 0 01.434-1.355l4.398-.733 2.218-4.435a.8.8 0 011.435.008l2.123 4.361 4.498.801a.8.8 0 01.425 1.353l-2.917 2.917.744 5.203a.8.8 0 01-1.154.828l-4.382-2.22-4.502 2.223A.792.792 0 015.2 18z" fill="#ff9800"/></svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6.71 15.116l3.357-1.658.892.452 2.327 1.178-.56-3.912.708-.707 1.29-1.29-3.235-.576-.445-.915-1.059-2.176L8.4 8.683l-1.005.168-2.098.35 1.975 1.975-.141.99-.422 2.95zM5.2 18a.8.8 0 01-.792-.914l.743-5.203-2.917-2.917a.8.8 0 01.434-1.355l4.398-.733 2.218-4.435a.8.8 0 011.435.008l2.123 4.361 4.498.801a.8.8 0 01.425 1.353l-2.917 2.917.744 5.203a.8.8 0 01-1.154.828l-4.382-2.22-4.502 2.223A.792.792 0 015.2 18z" fill="#ff9800"/></svg>
                            {% endif %}
                          {% endfor %}
                        </span>
                      {% elsif attribute contains 'metafield:' and value.value contains 'https:' %}
                        <span class="gf-swatch-image" style="background-image: url('{{ value.value }}')"></span>
                      {% else %}
                        <span class="gf-label">{{value_label}}</span>
                      {% endif %}
                    </strong>
                  </span>
                  <span class="gf-clear"></span>
                </a>
              </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
        {% endcapture %}
          {% if numberSelectedFilters > 1 %}
            <li class="selected-item gf-option-label">
              <a onclick="clearAllFilter()" class="clear-refinements">
                {{- translation.filter.clear_all | default: 'Clear all' -}}
              </a>
            </li>
          {% endif %}
          {{ selectedItemHtml }}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
s
