<div id='global-buzz-wrapper' class='container'>
  <h1 id='global-buzz-title'>{{ section.settings['global-buzz-title'] }}</h1>
  <div id='global-buzz-content'>
    <div id='global-buzz-slider-wrapper'>
      <div id='global-buzz-slider'>
        {% for block in section.blocks %}
          <div
            class='global-buzz-slide'
            id='global-buzz-slide-{{forloop.index0 }}'
          >
            {% assign videoSettings = block.settings['global-buzz-video'] %}
            {% assign posterImage = block.settings['global-buzz-image'] %}

            {% if posterImage != blank %}
              {% assign posterImage = posterImage | image_url %}
            {% else %}
              {% assign posterImage = videoSettings.preview_image.src
                | image_url
              %}
            {% endif %}

            <!-- Display the video tag -->
            {{
              videoSettings
              | video_tag:
                loop: true,
                muted: true,
                class: 'global-buzz-media asp34',
                poster: posterImage
            }}
            <div
              class='global-buzz-detail-container'
              data-product-handle='{{block.settings['global-buzz-product'].handle |  handleize}}'
              data-index='{{forloop.index0}}'
            >
              {% render 'glass-card',
                product: block.settings['global-buzz-product']
              %}
            </div>
          </div>
        {% endfor %}
      </div>

      <div id='global-buzz-slider-nav'>
        <button type='button' id='global-buzz-slider-prev'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='32'
            height='32'
            viewBox='0 0 28 28'
            fill='none'
          >
            <g opacity="0.4">
              <path d="M17.2148 7L10.2148 14L17.2148 21" stroke="#585858" stroke-width="2" stroke-linecap="round"/>
            </g>
          </svg>
        </button>
        <button type='button' id='global-buzz-slider-next'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='32'
            height='32'
            viewBox='0 0 28 28'
            fill='none'
          >
            <path d="M10.7852 7L17.7852 14L10.7852 21" stroke="#585585" stroke-opacity="0.533333" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
{% comment %}
  <video
    poster='{{posterImage}}'
    alt='{{ videoSettings.alt }}'
    class='global-buzz-media asp34'
    loop
    muted
    preload='none'
  >
    <source
      src='{{ videoSettings.sources[1].url }}'
      type='{{ videoSettings.sources[1].mime_type }}'
    >
    Your browser does not support the video tag.
  </video>
{% endcomment %}

<style>
  #global-buzz-wrapper h1,
  #global-buzz-wrapper p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #global-buzz-wrapper {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  #global-buzz-title {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* text styles */
    color: #393939;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 125% */
    text-transform: capitalize;
  }

  #global-buzz-content {
    width: 100%;
  }

  #global-buzz-slider-wrapper {
    width: 100%;
    padding-left: 6px;
    position: relative;
  }

  #global-buzz-slider {
    width: 100%;
  }

  #global-buzz-slider-nav {
    display: none;
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  #global-buzz-slider-nav > button {
    border: none;
    background: none;
    height: 55px;
    aspect-ratio: 1;
  }

  #global-buzz-slider-nav > button > svg {
    height: 28px;
    width: 28px;
  }

  #global-buzz-slider-prev {
    left: -55px;
  }
  #global-buzz-slider-next {
    right: -55px;
  }

  #global-buzz-slider .global-buzz-slide {
    position: relative;
    margin: 0 6px;

    overflow: hidden;
    /* aspect-ratio: 3/4 !important; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
  }

  #global-buzz-slider .global-buzz-slide .global-buzz-media {
    width: 100%;
    height: 100%;
    border-radius: 4px;

    object-fit: cover;
    aspect-ratio: 3/4 !important;
  }

  .global-buzz-detail-container {
    display: block;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    height: auto;

    /* padding: 10px; */
    border-radius: 4px;
    border: 1.2px solid #e9e9e9;
  }
  @media (min-width: 992px) {
    #global-buzz-wrapper {
      padding: 0px 55px;
      column-gap: 40px;
      margin-top:96px;
    }

    #global-buzz-slider .global-buzz-slide .global-buzz-media {
      border-radius: 8px;
    }

    .global-buzz-detail-container {
      /* padding: 15px; */
    }

    #global-buzz-slider-wrapper {
      padding-left: 0px;
    }

    #global-buzz-slider-nav {
      display: block;
    }

    #global-buzz-title {
      font-size: 28px;
      line-height: 32px; /* 114.286% */
    }
  }
</style>

<script>
  $(document).ready(function () {
    // slick
    const roundToPrecision = (number, precision) => {
      const multiplier = Math.pow(10, precision);
      return Math.round(number * multiplier) / multiplier;
    }

    const numSlidesMobile = roundToPrecision('{{section.settings['global-buzz-num-slides-mobile']}}', 1);
    const numSlidesTab = roundToPrecision('{{section.settings['global-buzz-num-slides-tab']}}', 1);
    const numSlidesDesktop = roundToPrecision('{{section.settings['global-buzz-num-slides-desktop']}}' ,1);

    const $slider = $('#global-buzz-slider');
    $slider.slick({
      arrows: false,
      appendArrows: $('#global-buzz-slider-nav'),
      prevArrow: $('#global-buzz-slider-prev'),
      nextArrow: $('#global-buzz-slider-next'),
      infinite: false,
      speed: 300,
      slidesToShow: numSlidesMobile,
      slidesToScroll: 1,
      mobileFirst: true,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: numSlidesTab,
            slidesToScroll: 1,
            arrows: true,
          },
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: numSlidesDesktop,
            slidesToScroll: 1,
            arrows: true,
          },
        },
      ],
    });

    // play pause media:video on slide change
    function handleSlideChange() {
      $('.global-buzz-slide').each(function () {
        // initially, pause all media
        playPauseMedia($(this), 'pause');
      });

      $('.global-buzz-slide.slick-active').each(function () {
        // play media in active slides
        playPauseMedia($(this), 'play');
      });
    }

    // utility to play/pause media
    function playPauseMedia($slide, action) {
      const videoElement = $slide.find('.global-buzz-media').get(0);

      if (videoElement && videoElement.tagName.toLowerCase() === 'video') {
        videoElement[action]();
      }
    }

    function handleHoverStart() {
      const $slide = $(this);
      if ($slide.hasClass('slick-active')) {
        playPauseMedia($slide, 'play');
      }
    }

    function handleHoverEnd() {
      const $slide = $(this);
      if ($slide.hasClass('slick-active')) {
        playPauseMedia($slide, 'pause');
      }
    }

    // Check if the device supports hover (pointer device)
    if (window.matchMedia('(hover: hover)').matches) {
      // Attach hover event handlers for pointer devices
      $('.global-buzz-slide').hover(handleHoverStart, handleHoverEnd);
    } else {
      // Use slide change event handler for touch devices
      $('.global-buzz-slide').off('hover', handleHoverStart, handleHoverEnd);
      $('#global-buzz-slider').on('afterChange', handleSlideChange);
      handleSlideChange(); // initially play active slides
    }
  });
</script>

{% schema %}
{
  "name": "Global Buzz",
  "class": "global-buzz-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "global-buzz-title",
      "label": "Add Your Heading Here"
    },
    {
      "type": "text",
      "id": "global-buzz-num-slides-mobile",
      "default": "1.5",
      "label": "Number of slides on mobile",
      "info": "optional, default 1.5, rounded to 1 decimal point"
    },
    {
      "type": "text",
      "id": "global-buzz-num-slides-tab",
      "default": "2.5",
      "label": "Number of slides on tab",
      "info": "optional, default 2.5, rounded to 1 decimal point"
    },
    {
      "type": "text",
      "id": "global-buzz-num-slides-desktop",
      "default": "3.5",
      "label": "Number of slides on desktop",
      "info": "optional, default 3.5, rounded to 1 decimal point"
    }
  ],
  "blocks": [
    {
      "name": "Video with card",
      "type": "video-with-card",
      "settings": [
        {
          "type": "video",
          "id": "global-buzz-video",
          "label": "Video"
        },
        {
          "type": "product",
          "id": "global-buzz-product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "global-buzz-image",
          "label": "Poster Image (optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Global Buzz",
      "settings": {
        "global-buzz-title": "Global Buzz"
      }
    }
  ]
}
{% endschema %}