<footer style="background: #FCFCFC;">
  <!-- trust badge section -->
  <section class="container footer-trust-section">
    <div class="row align-items-center footer-trust-container">
      <div class="col-12 col-sm-6 col-lg-3 footer-trust-box">
        <img
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/authentic.svg?v=1692598346"
          alt=""
          class="img-fluid trust-img"
        >
        <div>
          <p class="trust-text-1 mb-0">100% authentic</p>
          <p class="trust-text-2 mb-0">All our products sourced directly from brands</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 footer-trust-box">
        <img
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/shipping.svg?v=1692598346"
          alt=""
          class="img-fluid trust-img"
        >
        <div>
          <p class="trust-text-1 mb-0">FREE SHIPPING across india</p>
          <p class="trust-text-2 mb-0">On orders above ₹600</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 footer-trust-box">
        <img
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/payments.svg?v=1692598346"
          alt=""
          class="img-fluid trust-img"
        >
        <div>
          <p class="trust-text-1 mb-0">SECURED PAYMENT</p>
          <p class="trust-text-2 mb-0">100% secure payment gateway</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 footer-trust-box">
        <img
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/service.svg?v=1692598346"
          alt=""
          class="img-fluid trust-img"
        >
        <div>
          <p class="trust-text-1 mb-0">at your service</p>
          <p class="trust-text-2 mb-0">Your convenience is our priority</p>
        </div>
      </div>
    </div>
  </section>
  <!-- newsletter section -->
  <section style="background: #f6f6f6;">
    <div class="news-letter-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="124"
        height="53"
        viewBox="0 0 124 53"
        fill="none"
        class="footer-logo"
      >
        <path
          d="M1.04416 39.7479L2.54702 39.3682C3.00996 39.2602 3.38511 39.1425 3.67473 39.0152C3.96436 38.889 4.18557 38.7168 4.3395 38.4996C4.49344 38.2825 4.58922 38.0033 4.62913 37.6589C4.66675 37.3155 4.68728 36.8545 4.68728 36.2758V7.20186C4.68728 6.55149 4.66789 6.02735 4.62913 5.62836C4.59036 5.23043 4.51396 4.90525 4.39765 4.65174C4.28135 4.39929 4.09891 4.19071 3.84805 4.02811C3.59719 3.86552 3.27906 3.69437 2.89366 3.51253L0.755676 2.53698V1.28973L13.4764 0.205078L14.1126 0.639368C14.0739 1.1817 14.0351 1.77858 13.9963 2.42894C13.9576 3.00764 13.9291 3.68582 13.9097 4.46347C13.8903 5.24113 13.8812 6.0819 13.8812 6.98578V10.674C13.8812 11.4335 13.8709 12.1299 13.8527 12.7621C13.8333 13.3953 13.8036 13.9644 13.766 14.4703C13.7272 15.049 13.7078 15.5742 13.7078 16.0438H13.9975C15.5779 15.0319 17.2643 14.1548 19.0568 13.4135C20.8493 12.6733 22.8048 12.301 24.9257 12.301C27.3921 12.301 29.2712 12.8979 30.5631 14.0906C31.8539 15.2844 32.5004 17.1103 32.5004 19.5695V36.2768C32.5004 36.8919 32.5198 37.3711 32.5586 37.7145C32.5962 38.0589 32.6931 38.3381 32.8482 38.5552C33.0021 38.7724 33.2142 38.935 33.4844 39.043C33.7535 39.1511 34.1207 39.2602 34.5825 39.3682L36.0854 39.7479V41.2123H19.953V39.7479L21.3407 39.4228C21.7649 39.3147 22.1013 39.2056 22.3521 39.0976C22.6018 38.9895 22.7945 38.8355 22.9302 38.6365C23.0648 38.4387 23.1514 38.1573 23.1902 37.7958C23.2278 37.4342 23.2484 36.9283 23.2484 36.2768V21.6853C23.2484 20.022 22.92 18.8838 22.2655 18.2677C21.6098 17.6537 20.6075 17.3456 19.2586 17.3456C18.2552 17.3456 17.2723 17.4269 16.3099 17.5895C15.3464 17.7521 14.5368 17.9061 13.8812 18.0506V36.2758C13.8812 36.9261 13.9005 37.4332 13.9393 37.7947C13.9769 38.1563 14.0636 38.4461 14.1993 38.6622C14.3338 38.8794 14.5265 39.0334 14.7774 39.1232C15.0271 39.2142 15.3646 39.3137 15.79 39.4217L17.1776 39.7469V41.2113H1.04416V39.7469V39.7479Z"
          fill="#2E2F75" />
        <path
          d="M52.8567 41.864C47.8065 41.864 44.0288 40.544 41.5237 37.9041C39.0174 35.2652 37.7654 31.6304 37.7654 27.0008C37.7654 24.6507 38.1895 22.5627 39.0379 20.7357C39.8851 18.9098 41.0231 17.3726 42.4495 16.1254C43.8749 14.8781 45.4849 13.9283 47.2774 13.2779C49.0699 12.6265 50.9296 12.3013 52.8578 12.3013C54.786 12.3013 56.664 12.5484 58.2638 13.0393C59.8624 13.5314 61.2216 14.3251 62.3402 15.4183C63.4576 16.5115 64.3345 17.9246 64.9707 19.6553C65.607 21.3871 65.9434 23.4923 65.9822 25.9707H46.9011C46.9387 28.1914 47.1907 30.0184 47.6525 31.4507C48.1155 32.883 48.7597 34.0297 49.5898 34.8897C50.4188 35.7487 51.4199 36.3487 52.5967 36.6889C53.7723 37.0301 55.1121 37.1991 56.6149 37.1991C58.4268 37.1991 60.0163 36.9916 61.3846 36.5755C62.7529 36.1605 63.9958 35.6802 65.1144 35.1379V36.9274C64.6127 37.4698 63.9673 38.0314 63.1771 38.609C62.3869 39.1877 61.4713 39.7204 60.4302 40.2092C59.3892 40.697 58.233 41.096 56.9604 41.403C55.6879 41.71 54.3196 41.864 52.8555 41.864H52.8567ZM52.3937 14.4717C51.6617 14.4717 50.9775 14.6417 50.3413 14.9808C49.705 15.321 49.136 15.8654 48.6354 16.6164C48.1337 17.3673 47.7289 18.3321 47.4211 19.512C47.1121 20.6918 46.9387 22.122 46.9011 23.8014L56.7883 23.319C56.7883 21.7102 56.7199 20.3431 56.5864 19.2168C56.4508 18.0914 56.2193 17.179 55.892 16.4826C55.5636 15.7863 55.1109 15.2771 54.5328 14.9541C53.9547 14.6321 53.2409 14.4706 52.3937 14.4706V14.4717Z"
          fill="#2E2F75" />
        <path
          d="M72.9785 52.4977C71.2442 52.4977 69.8177 52.1265 68.7003 51.3853C67.5817 50.644 67.023 49.677 67.023 48.4832C67.023 47.4702 67.3502 46.684 68.0059 46.1235C68.6604 45.563 69.5475 45.2827 70.6661 45.2827C71.7847 45.2827 72.6798 45.4999 73.2397 45.9342C73.7984 46.3685 74.2317 47.0734 74.5407 48.05C74.7334 48.7731 75.0994 49.1346 75.6388 49.1346C76.2545 49.1346 76.9113 48.7367 77.6046 47.9409C78.299 47.145 79.1462 45.6625 80.1485 43.4932L80.7847 42.0833L70.0298 19.1387C69.6057 18.2712 69.2579 17.5748 68.9888 17.0507C68.7185 16.5265 68.4688 16.1104 68.2374 15.8034C68.0059 15.4964 67.7744 15.2793 67.5429 15.152C67.3115 15.0258 67.0412 14.9081 66.7334 14.799L65.6923 14.4738V13.064H82.7494V14.4738L81.1884 14.8535C80.6103 15.0354 80.1667 15.2793 79.8588 15.5863C79.5498 15.8943 79.3959 16.3554 79.3959 16.9694C79.3959 17.7652 79.665 18.7782 80.2055 20.0073L85.2933 32.1032H85.5248L90.3823 20.0073C90.9216 18.6702 91.1918 17.5844 91.1918 16.7522C91.1918 16.2099 91.0368 15.8034 90.7289 15.5317C90.4199 15.26 89.9569 15.0354 89.3412 14.8535L87.722 14.4738V13.064H98.4769V14.4738L97.1474 14.9081C96.8008 15.0161 96.502 15.1616 96.2512 15.3424C96.0003 15.5242 95.7597 15.7852 95.5282 16.1286C95.2968 16.473 95.0459 16.9244 94.7768 17.485C94.5066 18.0465 94.1782 18.7782 93.7939 19.6821L83.039 43.9831C82.4609 45.2485 81.8725 46.4059 81.275 47.4542C80.6764 48.5025 80.0025 49.3978 79.2511 50.1391C78.4997 50.8804 77.6125 51.4591 76.5909 51.8752C75.5692 52.2902 74.3651 52.4988 72.9774 52.4988L72.9785 52.4977Z"
          fill="#2E2F75" />
        <path
          d="M121.665 13.9865C120.92 15.1888 119.599 17.341 118.259 19.4847C116.085 22.9633 114.945 26.6815 114.926 30.6735C114.924 31.0072 114.931 31.3442 114.943 31.6822C114.953 31.9293 114.924 32.1251 114.855 32.2705C114.701 32.4556 114.495 32.5743 114.267 32.5904H114.262C114.181 32.5882 114.091 32.5775 113.994 32.5583C113.828 32.5059 113.679 32.3989 113.561 32.2524C113.561 32.2513 113.56 32.2513 113.56 32.2502C113.519 32.155 113.492 32.0502 113.486 31.9668C113.456 31.5934 113.432 31.2201 113.411 30.8468C113.343 29.6862 113.295 28.5224 113.146 27.3714C112.706 23.9859 110.994 21.0656 109.179 18.1903C108.058 16.4147 106.855 14.6754 105.884 12.8291C104.577 10.3432 104.322 7.72994 105.625 5.14239C108.368 -0.311913 115.355 -1.6426 120.229 2.19007C123.464 4.73377 124.335 9.09806 121.663 13.9865H121.665Z"
          fill="#2E2F75" />
        <path
          d="M114.007 45.6007C117.332 45.6007 120.028 43.0716 120.028 39.9517C120.028 36.8319 117.332 34.3027 114.007 34.3027C110.681 34.3027 107.985 36.8319 107.985 39.9517C107.985 43.0716 110.681 45.6007 114.007 45.6007Z"
          fill="#2E2F75" />
      </svg>

      <p class="news-text-1 mb-0">Let's keep in touch</p>
      <p class="news-text-2 mb-0">No Spammy Emails! Just secret sales, new drops and super fun brands.</p>
      {% form 'customer', class: 'newsletter-form' %}
        {{ form.posted_successfully }}
        <input type="hidden" name="contact[tags]" value="newsletter">
        {% if form.errors %}
          <p class="Form__Alert Alert Alert--error">Some Error Occured</p>
        {% endif %}
        {% if form.posted_successfully? %}
          <div class="newsletter-activated-container">
            <div class="email-heart-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.57494 0H17.8723C19.2802 0 20.4218 1.14147 20.4218 2.54955V2.67633L10.2236 7.77543L0.0253906 2.67635V2.54955C0.0253906 1.14147 1.16686 0 2.57494 0ZM10.6828 9.8418L20.4218 4.97229V11.1955C19.5209 11.0701 18.5725 11.2243 17.6862 11.716C17.4443 11.8502 17.2147 12.0051 16.9971 12.179C16.7731 11.9923 16.5357 11.8262 16.2849 11.6825C15.1356 11.0238 13.8725 10.937 12.7398 11.3068C10.9778 11.8822 9.7164 13.4599 9.30996 15.2973H2.57494C1.16686 15.2973 0.0253906 14.1558 0.0253906 12.7477V4.9723L9.76438 9.8418C10.0534 9.98634 10.3937 9.98634 10.6828 9.8418ZM22.7232 16.6623C22.7232 13.4689 18.8953 11.3289 16.9732 15.5924C15.0509 11.2466 11.2231 13.3866 11.2231 16.58C11.2231 20.86 16.9732 23 16.9732 23C16.9732 23 22.7232 20.86 22.7232 16.6623Z" fill="#656AD2"/>
              </svg>
            </div>
            <p class="newsletter-activated-text">Hey! We just dropped love in your inbox</p>
          </div>
          {% else %}
          <div class="news-form">
          <div class="f-field b-email_sign_up-email_input d-flex w-100">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="email-input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus aria-invalid="true" aria-describedby="Newsletter-error--{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-success--{{ section.id }}"
              {% endif %}
              placeholder="Enter Your Email Address"
              required
            >
            <button
              type="submit"
              class="email-submit"
              name="commit"
              id="Subscribe"
              aria-label="newsletter"
            >
              Send
            </button>
          </div>
        </div>
        {% endif %}
      {% endform %}
      
    </div>
  </section>
  <!-- footer menu -->

  <section style="background: #F5F7FF;">
    <div class="container p-5">
      <div class="row">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'navigation' %}
              <div class="col-12 col-lg-3 footer-menu-container">
                <input type="checkbox" name="" class="d-none" id="{{block.settings.pageslinks.title}}">
                <label class="menu-title" for="{{block.settings.pageslinks.title}}" data-icon="true">
                  {{- block.settings.pageslinks.title -}}
                </label>
                <ul class="menu-items">
                  {% for link in block.settings.pageslinks.links %}
                    <li>
                      <a href="{{link.url}}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% when 'text' %}
              <div class="col-12 col-lg-3 footer-menu-container d-flex flex-column">
                <input type="checkbox" name="" class="d-none" id="contact" data-icon="false" checked>
                <label class="menu-title" for="contact" data-icon="false">{{ block.settings.rich_test }}</label>
                <ul class="menu-items ">
                  {{ block.settings.rich_in }}
                </ul>
                <ul class="d-flex p-0 footer-social-contacts">
                  <li>
                    <a href="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                        <path
                            d="M22.0436 10.8198C21.8195 10.8198 21.6004 10.8862 21.414 11.0108C21.2276 11.1353 21.0824 11.3123 20.9966 11.5194C20.9108 11.7265 20.8884 11.9544 20.9321 12.1742C20.9758 12.3941 21.0838 12.596 21.2423 12.7545C21.4008 12.913 21.6027 13.0209 21.8225 13.0647C22.0424 13.1084 22.2703 13.086 22.4773 13.0002C22.6844 12.9144 22.8614 12.7691 22.986 12.5828C23.1105 12.3964 23.177 12.1773 23.177 11.9531C23.177 11.6525 23.0576 11.3643 22.845 11.1517C22.6325 10.9392 22.3442 10.8198 22.0436 10.8198ZM26.3881 13.1053C26.3697 12.3217 26.223 11.5464 25.9536 10.8103C25.7135 10.1805 25.3397 9.61021 24.8581 9.13867C24.3904 8.65457 23.8188 8.28317 23.1864 8.05256C22.4523 7.77504 21.6761 7.62492 20.8914 7.60867C19.8903 7.552 19.5692 7.552 17.0003 7.552C14.4314 7.552 14.1103 7.552 13.1092 7.60867C12.3245 7.62492 11.5484 7.77504 10.8142 8.05256C10.183 8.2855 9.61186 8.65659 9.14253 9.13867C8.65843 9.60634 8.28703 10.178 8.05642 10.8103C7.7789 11.5445 7.62878 12.3206 7.61253 13.1053C7.55586 14.1064 7.55586 14.4276 7.55586 16.9964C7.55586 19.5653 7.55586 19.8864 7.61253 20.8876C7.62878 21.6722 7.7789 22.4484 8.05642 23.1826C8.28703 23.8149 8.65843 24.3866 9.14253 24.8542C9.61186 25.3363 10.183 25.7074 10.8142 25.9403C11.5484 26.2179 12.3245 26.368 13.1092 26.3842C14.1103 26.4409 14.4314 26.4409 17.0003 26.4409C19.5692 26.4409 19.8903 26.4409 20.8914 26.3842C21.6761 26.368 22.4523 26.2179 23.1864 25.9403C23.8188 25.7097 24.3904 25.3383 24.8581 24.8542C25.3419 24.3844 25.716 23.8136 25.9536 23.1826C26.223 22.4465 26.3697 21.6712 26.3881 20.8876C26.3881 19.8864 26.4448 19.5653 26.4448 16.9964C26.4448 14.4276 26.4448 14.1064 26.3881 13.1053ZM24.6881 20.7742C24.6812 21.3737 24.5726 21.9677 24.367 22.5309C24.2162 22.9419 23.974 23.3133 23.6586 23.617C23.3523 23.9291 22.9817 24.1709 22.5725 24.3253C22.0094 24.531 21.4154 24.6396 20.8159 24.6464C19.8714 24.6937 19.522 24.7031 17.0381 24.7031C14.5542 24.7031 14.2048 24.7031 13.2603 24.6464C12.6378 24.6581 12.018 24.5623 11.4281 24.3631C11.0369 24.2007 10.6833 23.9596 10.3892 23.6548C10.0757 23.3514 9.83655 22.9797 9.69031 22.5687C9.45973 21.9974 9.33184 21.3899 9.31253 20.7742C9.31253 19.8298 9.25586 19.4803 9.25586 16.9964C9.25586 14.5126 9.25586 14.1631 9.31253 13.2187C9.31676 12.6058 9.42865 11.9984 9.64308 11.4242C9.80935 11.0256 10.0646 10.6702 10.3892 10.3853C10.6761 10.0606 11.0307 9.8027 11.4281 9.62978C12.0038 9.42204 12.6105 9.31347 13.2225 9.30867C14.167 9.30867 14.5164 9.252 17.0003 9.252C19.4842 9.252 19.8336 9.252 20.7781 9.30867C21.3776 9.31554 21.9716 9.42412 22.5348 9.62978C22.9639 9.78906 23.3491 10.048 23.6586 10.3853C23.9681 10.6754 24.21 11.0301 24.367 11.4242C24.5769 11.9993 24.6855 12.6065 24.6881 13.2187C24.7353 14.1631 24.7448 14.5126 24.7448 16.9964C24.7448 19.4803 24.7353 19.8298 24.6881 20.7742ZM17.0003 12.1514C16.0425 12.1533 15.1067 12.4391 14.3111 12.9726C13.5156 13.5061 12.8961 14.2634 12.5309 15.1489C12.1656 16.0344 12.071 17.0082 12.259 17.9474C12.447 18.8867 12.9092 19.7491 13.5872 20.4257C14.2651 21.1023 15.1284 21.5629 16.068 21.749C17.0076 21.9352 17.9813 21.8387 18.866 21.4717C19.7508 21.1047 20.5069 20.4838 21.0389 19.6872C21.5708 18.8907 21.8547 17.9543 21.8548 16.9964C21.856 16.359 21.7312 15.7277 21.4876 15.1387C21.244 14.5497 20.8863 14.0147 20.4351 13.5644C19.984 13.1141 19.4483 12.7575 18.8588 12.515C18.2693 12.2725 17.6377 12.149 17.0003 12.1514ZM17.0003 20.1414C16.3783 20.1414 15.7702 19.957 15.253 19.6114C14.7358 19.2658 14.3327 18.7747 14.0947 18.2C13.8567 17.6253 13.7944 16.993 13.9157 16.3829C14.0371 15.7728 14.3366 15.2124 14.7765 14.7726C15.2163 14.3328 15.7767 14.0332 16.3867 13.9119C16.9968 13.7905 17.6292 13.8528 18.2038 14.0908C18.7785 14.3289 19.2697 14.732 19.6153 15.2492C19.9609 15.7664 20.1453 16.3744 20.1453 16.9964C20.1453 17.4095 20.064 17.8184 19.9059 18.2C19.7479 18.5816 19.5162 18.9283 19.2242 19.2203C18.9321 19.5123 18.5854 19.744 18.2038 19.902C17.8223 20.0601 17.4133 20.1414 17.0003 20.1414Z"
                            fill="#404184" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                        <path
                            d="M19.8715 10.988H21.5V8.12603C20.7115 8.04084 19.9193 7.99878 19.1266 8.00003C16.7705 8.00003 15.1593 9.49402 15.1593 12.23V14.588H12.5V17.792H15.1593V26H18.347V17.792H20.9976L21.3961 14.588H18.347V12.545C18.347 11.6 18.5895 10.988 19.8715 10.988Z"
                            fill="#404184" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                        <path
                            d="M20.5033 16.2717L15.2011 13.2147C14.9487 13.0691 14.6388 13.0706 14.3876 13.2185C14.1364 13.3664 13.9819 13.6385 13.9819 13.9327V20.0467C13.9819 20.341 14.1364 20.613 14.3876 20.761C14.6388 20.9089 14.9487 20.9104 15.2011 20.7647L20.5033 17.7077C21.0497 17.3988 21.0496 16.5805 20.5033 16.2717ZM15.6133 18.6257V15.3537L18.4509 16.9898L15.6133 18.6257ZM27.1275 12.6004C26.8623 10.7035 25.3613 9.24818 23.4772 9.06138C21.9889 8.91382 19.6571 8.73792 17 8.73792C14.343 8.73792 12.0112 8.91382 10.5229 9.06138C8.63883 9.24814 7.13777 10.7035 6.87254 12.6003C6.4546 15.6049 6.4546 18.3952 6.87254 21.3997C7.13777 23.2966 8.63883 24.7519 10.5229 24.9387C12.0112 25.0863 14.343 25.2622 17 25.2622C19.6571 25.2622 21.9889 25.0863 23.4772 24.9387C25.3613 24.752 26.8623 23.2966 27.1275 21.3998C27.5455 18.3952 27.5455 15.6049 27.1275 12.6004ZM25.5122 21.1681C25.3528 22.3076 24.4507 23.1819 23.3182 23.2941C21.8661 23.4382 19.5912 23.6098 17 23.6098C14.4089 23.6098 12.134 23.4382 10.6819 23.2941C9.54939 23.1819 8.64723 22.3076 8.48792 21.168C8.29035 19.7551 8.19018 18.3528 8.19018 17C8.19018 15.6473 8.29035 14.245 8.48792 12.832C8.64723 11.6925 9.54939 10.8182 10.6819 10.706C12.134 10.5619 14.4089 10.3903 17 10.3903C19.5912 10.3903 21.8661 10.5619 23.3182 10.706C24.4507 10.8182 25.3528 11.6925 25.5122 12.8321C25.9087 15.6832 25.9087 18.3169 25.5122 21.1681Z"
                            fill="#404184" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <p>© 2022 HeyMakeup pvt. ltd. All Rights Reserved.</p>
</div>
<!-- end of copyright -->
{% if section.settings.showBottomNav
  and template == 'index'
  or template == 'page.accessories'
  or template == 'page.offers'
  or template == 'page.makeup'
  or template == 'page.haircare'
  or template == 'page.fragrances'
  or template == 'page.bath-and-body'
  or template == 'page.skincare'
  or template == 'page.new'
%}
{%  assign currentPageStroke = '#404184' %}
{%  assign otherPageStroke = '#999999' %}
  <div class="mobile-bottom-nav-cover d-lg-none" style="height:64px;"></div>
  <div class="bottom-nav mobile-screen">
    <div class="nav-lists d-flex justify-content-around">
      <ul class="list-unstyled btm-nav-icons-list">
        <li class="d_cent">
          <a href="{{ shop.url }}" class="btm-nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
<path d="M18.0271 22H16.103H7.89696H5.97291C4.05488 22 2.5 20.4607 2.5 18.5618V9.84736C2.50739 9.09967 2.86226 8.39702 3.46203 7.94256L10.0134 2.6853C11.1662 1.77157 12.8049 1.77157 13.9577 2.6853L20.538 7.93303C21.1355 8.38935 21.4898 9.09083 21.5 9.83784V18.5618C21.5 20.4607 19.9451 22 18.0271 22Z" stroke="{% if template == 'index' %}{{ currentPageStroke }}{% else %}{{ otherPageStroke }}{% endif %}" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Home
          </a>
        </li>
        <li class="btm-nav-icon categoryHandle">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
            <rect x="5.6" y="6.6" width="8.8" height="8.8" rx="1.4" stroke="#999999" stroke-width="1.2"/>
            <rect x="5.6" y="19.6" width="8.8" height="8.8" rx="1.4" stroke="#999999" stroke-width="1.2"/>
            <rect x="18.9047" y="19.6" width="8.8" height="8.8" rx="1.4" stroke="#999999" stroke-width="1.2"/>
            <path d="M23.1125 8.60067C23.1125 8.60067 24.0928 7.19656 25.0382 6.99449C25.6525 6.86322 26.0683 6.88197 26.6365 7.15708C27.3666 7.51058 27.6983 8.01149 27.9529 8.80376C28.169 9.47594 28.1296 9.92906 27.9696 10.6179C27.8064 11.3202 27.531 11.6586 27.1345 12.2528C26.765 12.8065 23.9678 15.5303 23.3651 15.9769" stroke="#999999" stroke-width="1.2" stroke-linecap="round"/>
            <path d="M23.1016 8.63247C23.1016 8.63247 22.244 7.14472 21.3192 6.85753C20.7185 6.67096 20.3026 6.65187 19.7134 6.87429C18.9561 7.16011 18.5834 7.62896 18.2626 8.39503C17.9905 9.04499 17.9915 9.49996 18.0926 10.2007C18.1957 10.9151 18.4415 11.2772 18.7861 11.9051C19.1864 12.6344 22.2172 15.4207 22.9324 15.9999" stroke="#999999" stroke-width="1.2" stroke-linecap="round"/>
          </svg>
          Catagories
        </li>
        <li class="d_cent">
          <a href="/pages/offers" class="btm-nav-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" style="padding: 6px;">
            <path d="M8.00651 13.9945L14.0155 7.98548M2.98798 13.654L1.4657 12.1317C0.844767 11.5108 0.844767 10.4892 1.4657 9.8683L2.98798 8.34602C3.24837 8.08563 3.45869 7.57486 3.45869 7.21432V5.06109C3.45869 4.17977 4.17977 3.45869 5.06109 3.45869H7.21432C7.57486 3.45869 8.08563 3.24837 8.34602 2.98798L9.8683 1.4657C10.4892 0.844767 11.5108 0.844767 12.1317 1.4657L13.654 2.98798C13.9144 3.24837 14.4251 3.45869 14.7857 3.45869H16.9389C17.8202 3.45869 18.5413 4.17977 18.5413 5.06109V7.21432C18.5413 7.57486 18.7516 8.08563 19.012 8.34602L20.5343 9.8683C21.1552 10.4892 21.1552 11.5108 20.5343 12.1317L19.012 13.654C18.7516 13.9144 18.5413 14.4251 18.5413 14.7857V16.9389C18.5413 17.8202 17.8202 18.5413 16.9389 18.5413H14.7857C14.4251 18.5413 13.9144 18.7516 13.654 19.012L12.1317 20.5343C11.5108 21.1552 10.4892 21.1552 9.8683 20.5343L8.34602 19.012C8.08563 18.7516 7.57486 18.5413 7.21432 18.5413H5.06109C4.17977 18.5413 3.45869 17.8202 3.45869 16.9389V14.7857C3.45869 14.4151 3.24837 13.9044 2.98798 13.654Z" stroke="#999999" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M13.5114 13.4937H13.5204M8.50391 8.48621H8.51192" stroke="#999999" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          Offers
          </a>
        </li>
        <li class="btm-nav-icon">
          <button
            class="account-btn bg-transparent border-0 d-flex flex-column align-items-center"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
          <ellipse cx="17.4591" cy="11.4444" rx="4.61538" ry="4.44444" stroke="#999999" stroke-width="1.2"/>
          <path d="M9.2652 22.7379C8.9722 23.512 8.96695 24.5535 9.0375 25.4131C9.11417 26.3474 9.93217 26.9998 10.8696 26.9998H23.4936C24.4321 26.9998 25.2506 26.346 25.3266 25.4106C25.3964 24.5517 25.3909 23.5117 25.1003 22.7379C23.9076 19.5626 20.6726 18.1537 16.9304 18.2502C13.3546 18.3425 10.4128 19.7062 9.2652 22.7379Z" stroke="#999999" stroke-width="1.2" stroke-linecap="round"/>
          </svg>
            {% if customer %} {{ customer.first_name }} {% else %} Mine {% endif %}
          </button>
        </li>
         <li class="btm-nav-icon">
          <button
            class="reward-mob-btn bg-transparent border-0 d-flex flex-column align-items-center"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 35 35" fill="none">
            <g clip-path="url(#clip0_8520_18452)">
            <rect x="8.5" y="13.5" width="19" height="16" rx="0.5" stroke="#999999"/>
            <path d="M17.6094 12.5454V29.0303" stroke="#999999"/>
            <path d="M17.8059 13.5152L12.8548 10.2977C11.211 9.2294 10.7798 7.01132 11.9039 5.40505V5.40505C13.5891 2.99678 17.3685 4.09214 17.5048 7.02834L17.8059 13.5152ZM17.8059 13.5152L20.3059 8.08693C21.4234 5.66052 24.9783 6.01929 25.5885 8.62006V8.62006C25.9956 10.3554 24.8869 12.0835 23.1398 12.4368L17.8059 13.5152Z" stroke="#999999"/>
            </g>
            <defs>
            <clipPath id="clip0_8520_18452">
            <rect width="35" height="35" fill="white" transform="translate(0.5)"/>
            </clipPath>
            </defs>
            </svg>
            Hey! Perks
          </button>
        </li>
      </ul>
    </div>
  </div>
  {% render 'gw-custom-rewards-mobile' %}     
{% endif %}
{% comment %}
      {% sections 'footer-group' %}
      <button id="btn_backToTop" class="d-flex justify-content-center align-items-center border-0 rounded-circle"></button>

      <script>
      /* window.shopUrl = '{{ request.origin }}';
      window.routes = {
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_update_url: '{{ routes.cart_update_url }}',
      cart_url: '{{ routes.cart_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
      error: `{{ 'sections.cart.cart_error' | t }}`,
      quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.variantStrings = {
      addToCart: `{{ 'products.product.add_to_cart' | t }}`,
      soldOut: `{{ 'products.product.sold_out' | t }}`,
      unavailable: `{{ 'products.product.unavailable' | t }}`,
      unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      };

      window.quickOrderListStrings = {
      itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
      itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
      itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
      itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
      viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
      each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
      };

      window.accessibilityStrings = {
      imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
      shareSuccess: `{{ 'general.share.success_message' | t }}`,
      pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
      playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
      recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`,
      };
      /* const preLoad = () => {
      // Set overflow to 'hidden'
      document.body.style.overflow = 'hidden';
      // Create the div element
      let preWebLoaderDiv = document.createElement('div');
      // Set the id and class attributes
      preWebLoaderDiv.id = 'pre-web-loader';
      preWebLoaderDiv.className = 'd-lg-none';
      preWebLoaderDiv.style.zIndex = '99999';
      // Create the img element
      let imgElement = document.createElement('img');
      // Set the src and alt attributes for the img element
      imgElement.src = 'https://cdn.shopify.com/s/files/1/0577/9000/5290/files/Final-gif.gif?v=1705648910';
      imgElement.alt = 'web-loader';
      imgElement.style.width = '100vw';
      imgElement.style.height = '100vh';
      // Append the img element to the div element
      preWebLoaderDiv.appendChild(imgElement);

      // Append the div element to the document body
      document.body.appendChild(preWebLoaderDiv);
      };

      const postLoad = () => {
      // Remove the content of preWebLoaderDiv
      let preWebLoaderDiv = document.getElementById('pre-web-loader');
      if (preWebLoaderDiv) {
      preWebLoaderDiv.innerHTML = '';
      }

      // Set overflow back to 'auto' or 'visible' as needed
      document.body.style.overflow = 'auto';

      // Additional post-load actions can be added here
      };
      (function runOnce() {
      // Function to check if a day has passed since the last execution
      function hasDayPassed(lastDate) {
      const currentDate = new Date();
      return !lastDate || currentDate.toDateString() !== new Date(lastDate).toDateString();
      }
      // Retrieve the last execution date from localStorage
      const lastExecutionDate = localStorage.getItem('lastExeDate');
      // Check if a day has passed since the last execution
      if (hasDayPassed(lastExecutionDate)) {
      // Perform the action for the first time in a day
      preLoad();
      setTimeout(postLoad, 1000);
      // Update the last execution date in localStorage
      localStorage.setItem('lastExeDate', new Date().toISOString());
      } else {
      postLoad();
      }
      })(); */
      </script>
      {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print"
      onload="this.media='all'">
      {%- endif -%}
    {% endcomment %}

{% schema %}
{
  "name": "Main_Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "showBottomNav",
      "label": "Show Bottom Navigation In Mobile",
      "default":false
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "name": "Link List",
      "type": "navigation",
      "settings": [
        {
          "type": "link_list",
          "id": "pageslinks",
          "label": "Menu Item"
        }
      ]
    },
    {
      "name": "Text Block",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "rich_test",
          "label": "Menu Name",
          "default": "Menu Name"
        },
        {
          "type": "html",
          "id": "rich_in",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
{% javascript %}
{% endjavascript %}
