<section>
  <div class="container-fluid">
    <div class="row reward-banner-container">
      <div class="col-12 col-lg-6 col-xl-5 reward-banner">
        <img src="{{ section.settings.rewardBanner | image_url }}" alt="reward-banner" class="reward-banner-img">
      </div>
      <div class="col-12 col-lg-6 col-xl-7 reward-banner-content d-flex flex-column justify-content-center">
        <div class="reward-banner-text-container text-center text-md-start">
          {% if customer %}
            <p class="reward-banner-title">It Pays Off To Be A Member</p>
            <p class="reward-banner-sub-title">
              Welcome to the exclusive community. You have <span class="reward-banner-points">2399 Points</span>
            </p>
          {% else %}
            <p class="reward-banner-title">FOMO is Real, Don't Miss Out!!</p>
            <p class="reward-banner-sub-title">
              Join The #Hey!Fam for exclusive Rewards, Offers, Discounts, Perks, and more.
            </p>
          {% endif %}
        </div>
        <div class="reward-banner-button-container d-flex flex-column flex-sm-row flex-lg-column flex-xl-row align-items-center align-items-lg-start">
          {% if customer %}
            <button class="btn-type-fill w-100 redeem-popup-btn" isFirst="true">Redeem points</button>
            <button class="btn-type-transparent w-100 ph-slide-open-btn">Point History</button>
          {% else %}
            <a href="/account/login" class="btn-type-fill w-100">Sign In To Hey! Perks</a>
            <a href="/account/login" class="btn-type-transparent w-100">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Swiper JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<section>
  <div class="container reward-section how-it-works-section">
    <div class="how-it-works-container">
      <p class="reward-section-title">How It Works?</p>
      <div class="swiper how-it-works-card-container">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide how-it-works-card-slide">
              <div class="how-it-works-card d-flex flex-column justify-content-center align-items-center">
                <img
                  src="{{ block.settings.howItWorksIcon | image_url }}"
                  alt="create account"
                  class="how-it-works-img"
                >
                <p class="how-it-works-title">{{ block.settings.howItWorksTitle }}</p>
                <p class="how-it-works-text">{{ block.settings.howItWorksText }}</p>
                <a href="{{ block.settings.howItWorksBtnURL }}" class="how-it-works-btn btn-type-transparent">
                  {{- block.settings.howItWorksBtnText -}}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<script>
  // Initialize Swiper
  var swiper = new Swiper('.how-it-works-card-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
          el: '.swiper-pagination',
          clickable: true,
      },
      breakpoints: {
          992: {
              slidesPerView: 1,
              spaceBetween: 10,
          },
      }
  });

  // Point history slide toggle
  const pointHistorySlideOpen = () => {
      document.querySelector('.point-history-overlay').classList.add('point-history-overlay-open');
      document.querySelector('.point-history-slide-container').classList.add('point-history-slide-container-open');
  };

  const pointHistorySlideClose = () => {
      document.querySelector('.point-history-overlay').classList.remove('point-history-overlay-open');
      document.querySelector('.point-history-slide-container').classList.remove('point-history-slide-container-open');
  };

  document.querySelector('.ph-slide-open-btn').addEventListener('click', pointHistorySlideOpen);
  document.querySelector('.ph-slide-close-btn').addEventListener('click', pointHistorySlideClose);
  document.querySelector('.point-history-overlay').addEventListener('click', pointHistorySlideClose);
</script>
