<div class="container shop-catagory-section px-0 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="heading">
    <h2 class="deals_txt">{{ section.settings.sdghf }}</h2>
  </div>
  <div class="position-relative">
    <ul class="shop_category_cards product-carousel row justify-content-start justify-content-md-center overflow-auto">
      {% for block in section.blocks %}
        <li class="logos col-5 col-md-2 element-carousel-item ">
          <a class="d_cent flex-column" href="{{ block.settings.shopcatagorylink }}">
              <img
                loading="lazy"
                src="{{ block.settings.shopcatagorydd | image_url}}"
                alt="Card image cap"
                width="100%" height="100%"
              >
              {% if block.settings.shopcatagorydd_show %}
                <div class="show-me">
                  <img
                    loading="lazy"
                    src="{{ block.settings.shopcatagorydd_show | image_url}}"
                    alt="Card image cap"
                    width="100%" height="100%"
                  >
                </div>
              {% endif %}
           
            <p class="cta_text">{{ block.settings.shopcatagorytxt }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Shop By Catagory",
  "settings": [
    {
      "type": "text",
      "id": "sdghf",
      "label": "Add Your Heading Here"
    },
    {
      "type": "color",
      "id": "bgaksjhd",
      "label": "Add Your background Color Here",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "name": "Image With Text",
      "type": "Image",
      "limit": 6,
      "settings": [
        {
          "type": "url",
          "id": "shopcatagorylink",
          "label": "Add Url"
        },
        {
          "type": "image_picker",
          "id": "shopcatagorydd",
          "label": "Add Your Image Here"
        },
        {
          "type": "image_picker",
          "id": "shopcatagorydd_show",
          "label": "Add Your Secondary Gif Here"
        },
        {
          "type": "text",
          "id": "shopcatagorytxt",
          "label": "Add Your Image Text Here"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Shop By Catagory"
    }
  ]
}
{% endschema %}

{% stylesheet %}
   .brands-row {
      background: {{ section.settings.bgaksjhd }};
  }
{% endstylesheet %}
